@import 'tailwindcss';

@plugin "daisyui" {
	themes:
		fantasy --default,
		my-dark --prefersdark;
}
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/aspect-ratio';

@plugin "daisyui/theme" {
	name: 'my-dark';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(25.33% 0.016 252.42);
	--color-base-200: oklch(23.26% 0.014 253.1);
	--color-base-300: oklch(21.15% 0.012 254.09);
	--color-base-content: oklch(97.807% 0.029 256.847);
	--color-primary: oklch(27% 0.102 181.912);
	--color-primary-content: oklch(92% 0.004 286.32);
	--color-secondary: oklch(65% 0.241 354.308);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(77% 0.152 181.912);
	--color-accent-content: oklch(27% 0.046 192.524);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(27% 0.077 45.635);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@font-face {
	font-family: 'Concourse3';
	src: url('/concourse_3_regular.woff2') format('woff2');
	font-style: normal;
	font-variant-numeric: oldstyle-nums;
}

@font-face {
	font-family: 'Concourse3_bold';
	src: url('/concourse_3_bold.woff2') format('woff2');
	font-style: bold;
	font-variant-numeric: oldstyle-nums;
}

@theme {
	--font-display: 'Concourse3', 'sans-serif';
	--font-bold: 'Concourse3_bold', 'sans-serif';
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

body {
	@apply text-lg;
}

ul,
li,
p {
	@apply text-base;
}
